NEXT_PUBLIC_CHECKOUT_URL=https://selar.com/64z7171o14
NEXT_PUBLIC_CHECKOUT_URL_NG=
NEXT_PUBLIC_CHECKOUT_URL_INTL=
NEXT_PUBLIC_SALE_PRICE_NGN=5000
NEXT_PUBLIC_REGULAR_PRICE_NGN=15000
NEXT_PUBLIC_SALE_PRICE_USD=3.99
NEXT_PUBLIC_REGULAR_PRICE_USD=10
NEXT_PUBLIC_SALE_END=
NEXT_PUBLIC_FORCE_REGION=
NEXT_PUBLIC_CONTACT_EMAIL=facelessblueprints@gmail.com
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=D8MT5H3C77UDGOQMADAG
